@media (min-width: $phone) {
  .container {
    display: block;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 320px;
    max-width: 1440px;
  }
}

@media (min-width: $tablet) {
  .container {
    width: 768px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: $desktop) {
  .container {
    width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .container--reviews {
    padding-right: 0;
  }
}
